<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= form_with(model: item, url: item.persisted? ? admin_item_path(item) : admin_items_path, local: true, method: item.persisted? ? :patch : :post) do |f| %>
      <!--@item → item, @categories → categories-->
      <table class="table table-borderless">
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :item_image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name, placeholder: "商品名" %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :introduction, rows: '5', placeholder: "ここに説明文を記述します" %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= f.collection_select(:category_id, Category.all, :id, :name) %></td>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td><%= f.text_field :price, placeholder: "1000" %>円</td>
        </tr>
        <tr>
          <td></td>
          <% if f.object.new_record? %>
          <td><%= f.submit "新規投稿" %></td>
          <% else %>
          <td><%= f.submit "変更する" %></td>
          <% end %>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>