<h4>商品一覧</h4>
<%= link_to "商品追加", new_admin_item_path %>
<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
  </tr>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= number_with_delimiter(item.price, delimiter: ',') %></td>
        <td><%= item.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>