<div class="container mt-4 mb-4">
  <div class="row">
    <div class='col-lg-1'></div>
    <div class="col-lg-3">
      <h4><span style="background-color: rgb(220, 220, 220);">商品一覧</span></h4>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-1">
      <%= link_to "商品追加", new_admin_item_path, class: "btn btn-outline-secondary rounded-circle p-1", style: "width:2rem;height:2rem;" %>
    </div>
    <div class="col-lg-1"></div>
  </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <table class='table' >
          <thead style="background-color: rgb(220, 220, 220);">
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody bgcolor="#ffffff">
            <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_item_path(item) %></td>
                <td><%= number_with_delimiter(item.price, delimiter: ',') %></td>
                <td><%= item.category.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <%= paginate @items %>
            </div>
            <div class="col-lg-4"></div>
          </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
</div>