<div class="container">

  <div class="row my-5">
    <div class="mx-auto">
      <h3><strong>商品一覧</strong></h3>
    </div>
    <%= link_to "商品追加", new_admin_item_path, class: "custom-link" %>
  </div>

  <div class="row">
    <div class="mx-auto">
      <table class="table">
        <tr>
          <th>商品ID</th>
          <th>商品画像</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
        </tr>
        <tbody class="table-borderless">
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= image_tag item.get_item_image(50,50) %></td>
              <td><%= link_to item.name, admin_item_path(item), style: "color: gray;" %></td>
              <td><%= number_with_delimiter(item.price, delimiter: ',') %>円</td>
              <td><%= item.category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>

</div>




