<div class="container my-5">

  <div class="row">
    <div>
      <h3>Member login</h3>
    </div>
  </div>

  <div class="row">
    <div>会員の方</div>
  </div>

  <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
  <div class="row">
    <div class="mx-auto">
        <div class="m-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"メールアドレス", size: "40" %>
        </div>
        <div class="m-3">
          <%= f.password_field :password, autocomplete: "current-password", :placeholder =>"パスワード", size: "40" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <div class="m-3">
          <div class="actions">
            <%= f.submit "ログインする" %>
          </div>
        </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="mx-auto">
      <%= link_to "ゲストとしてログインする", users_guest_sign_in_path, method: :post %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      会員登録がお済みでない方はこちらから登録を行なってください
    </div>
  </div></br>
  <div class="row">
    <div class="mx-auto">
      <%= render "user/shared/links" %>
    </div>
  </div>

</div>