<h4>Order history</h4>

<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払い金額</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %> </td>
      <td><%= current_user.post_code %><%= current_user.address %></td>
      <td>
        <% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %>
        <% end %>
      </td>
      <td><%= order.total_payment %></td>
    </tr>
    <% end %>
  </tbody>
</table>