<table>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
          <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
          <% end %>
        </td>
        <td><%= user.user_name %></td>
        <td>フォロー<%= user.followings.count %></td>
        <td>フォロワー<%= user.followers.count %></td>
        <td><%= render "user/relationships/btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>