<h4>Review edit</h4>

<%= form_with model: @review do |f| %>
  <div class="form-group">
    <%= f.label :review_image %><br>
    <%= f.file_field :review_image, class: "form-control-file user_image", accept: 'image/*' %>
  </div>
  <div>Goods選択フォーム</div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="form-group">
    <%= f.submit "変更する" %>
  </div>
<% end %>