<div class="container">

  <div class="row my-5">

    <div class="col-6">
      <div class="row justify-content-center">
        <div class="review-img">
          <%= image_tag @review.get_review_image(450,450) %>
        </div>
      </div>
      <div class="row justify-content-center">
        comment:<span id="comment_count"><%= @review.comments.count %>　</span>
        <div id="favorite_buttons_<%= @review.id %>"><%= render "user/favorites/favorite", review: @review %></div>
      </div>
    </div>

    <div class="col-6">
      <div class="row mt-5 mb-3 pl-4">
        <%= simple_format(@review.content) %>
      </div>
      <div class="row pl-4">
        Category：<%= @review.category.name %>
      </div>
      <div class="row pl-4">
        <%= link_to user_path(@review.user), style: "color: grey;" do %>
        @<%= @review.user.user_name %>
        <% end %>
      </div>

      <% if @review.user == current_user %>
        <div class="row mt-3 pl-4">
          <%= link_to "編集", edit_review_path(@review), style: "color: gray;" %>：
          <%= link_to "削除", review_path(@review.id), style: "color: gray;", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>

      <hr class="custom-hr">
      <div class="row my-3 pl-4"><strong>Review Goods</strong></div>

      <div class="row pl-4">
      <table>
        <% @review.items.each do |item| %>
          <tr>
            <td><%= image_tag item.get_item_image(30,30) %>&emsp;</td>
            <td>
              <%= link_to item_path(item.id), style: "color: gray;" do %>
                <%= item.name %>
              <% end %>
            </td>
            <td>
              &emsp;¥<%= item.price %>&emsp;
            </td>
            <td>
              <%= form_with model: @cart_item do |f| %>
                <%= f.hidden_field :item_id, :value => item.id %>
                <%= f.select :amount, *[1..10] %>
                <%= button_tag type: "submit", class: "btn btn-default" do %>
                  <i class="fa-solid fa-cart-shopping"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      </div>

    </div>
  </div>

  <hr class="custom-hr">

  <div class="row my-4">
    <div class="mx-auto">
      <div id="comment_form">
        <%= render "user/comments/form" , { review: @review , comment: @comment } %>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="mx-auto">
      <div id="review-comments">
        <%= render "user/comments/show" , { review: @review, comment: @comment } %>
      </div>
    </div>
  </div>

</div>