<div><%= image_tag @review.get_review_image(400,400) %></div>
<div>comment <%= @review.comments.count %>
<div id="favorite_buttons_<%= @review.id %>"><%= render "user/favorites/favorite", review: @review %></div>
</div>
<div><%= @review.content %></div>
<% if @review.user == current_user %>
  <%= link_to "編集", edit_review_path(@review) %>
  <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<div>Category: <%= @review.category.name %></div>
<div>おすすめ商品</div>
<% @review.items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
    <%= item.name %>
  <% end %>
  ¥<%= item.price %>
  <%= form_with model: @cart_item do |f| %>
    <%= f.hidden_field :item_id, :value => item.id %>
    <%= f.select :amount, *[1..10] %>
    <%= f.submit "カートに入れる" %>
  <% end %>
</div>
<% end %>

<div>
  <%= form_with model: [@review, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "送信" %>
  <% end %>
</div>
<div>
<% @review.comments.each do |comment| %>
  <div><%= comment.user.name %><%= comment.content %>
  <% if comment.user == current_user %>
    <%= link_to review_comment_path(comment.review, comment), method: :delete do %>
    <i class="fa-solid fa-trash-can"></i>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>