<div><%= image_tag url_for(@review.review_image.variant(resize: "400x400")) %></div>
<div>comment <%= @review.comments.count %>
<% if @review.favorited_by?(current_user) %>
  <%= link_to review_favorite_path(@review), method: :delete do %>
    ♥<%= @review.favorites.count %>
  <% end %>
<% else %>
  <%= link_to review_favorite_path(@review), method: :post do %>
    ♡<%= @review.favorites.count %>
  <% end %>
<% end %>
</div>
<div><%= @review.content %></div>
<% if @review.user == current_user %>
  <%= link_to "編集", edit_review_path(@review) %>
<% end %>
<div>おすすめ商品</div>
<div>
  <%= form_with model: [@review, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "送信" %>
  <% end %>
</div>
<div>
<% @review.comments.each do |comment| %>
  <div><%= comment.user.name %><%= comment.content %>
  <% if comment.user == current_user %>
    <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete %>
  <% end %>
  </div>
<% end %>
</div>