<div><%= image_tag @review.get_review_image(400,400) %></div>
<div>comment <span id="comment_count"><%= @review.comments.count %></span></div>
<div id="favorite_buttons_<%= @review.id %>"><%= render "user/favorites/favorite", review: @review %></div>
<div><%= @review.content %></div>
<% if @review.user == current_user %>
  <%= link_to "編集", edit_review_path(@review) %>
  <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<div>Category: <%= @review.category.name %></div>
<div>おすすめ商品</div>
<% @review.items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
    <%= item.name %>
  <% end %>
  ¥<%= item.price %>
  <%= form_with model: @cart_item do |f| %>
    <%= f.hidden_field :item_id, :value => item.id %>
    <%= f.select :amount, *[1..10] %>
    <%= button_tag type: "submit", class: "btn btn-default" do %>
    <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
  <% end %>
</div>
<% end %>

<div id="comment_form">
  <%= render "user/comments/form" , { review: @review , comment: @comment } %>
</div>
<div id="review-comments">
  <%= render "user/comments/show" , { review: @review, comment: @comment } %>
</div>