<h4>会員一覧</h4>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%=link_to user.name, admin_user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.user_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div><%= paginate @users %></div>