<!--@item → item-->
<div><%= item.name %></div>

<% if admin_signed_in? %>
<%= link_to "編集", edit_admin_item_path %>
<% end %>

<div><%= image_tag @item.get_item_image(300,300) %></div>
<div><%= item.introduction %></div>
<div>カテゴリー:<%= item.category.name %></div>
<div>¥<%= number_with_delimiter(item.add_tax_price, delimiter: ',') %>(税込)</div>

<% if user_signed_in? %>
個数
<!--@cart_item → cart_item-->
<%= form_with model: cart_item do |f| %>
  <%= f.hidden_field :item_id, :value => item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる" %>
<% end %>
<% end %>