<header>
  <div><%= link_to 'all', reviews_path %></div>
  <div><%= link_to 'fashion', reviews_path(category: 'fashion') %></div>
  <div><%= link_to 'nail', reviews_path(category: 'nail') %></div>
  <div><%= link_to 'cosmetics', reviews_path(category: 'cosmetics') %></div>
  <div><%= link_to 'about', about_path %></div>
</header>
