<header>
  <div class="container">
    <div class="row mt-4 mb-2">

      <div class="col-9">
        <ul class="list-group list-group-horizontal">
          <a class="navbar-brand" href="/homes/latest"><%= image_tag "scs2.png", :size => '50x20' %></a>
          <li class="list-group-item border-0 btn">
            <%= link_to new_review_path do %>
              <i class="fa-regular fa-pen-to-square" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=  link_to user_path(current_user) do %>
              <i class="fa-regular fa-user" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=link_to favorites_user_path(current_user) do %>
              <i class="fa-regular fa-heart" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=  link_to cart_items_path do %>
            <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <div class="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-regular fa-bell"></i>
              <span><%= current_user.notifications.where(read: false).count %></span>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_user.notifications.where(read: false).any? %>
                <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to notification.message, notification, method: :patch, class: "dropdown-item" %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled">未読の通知はありません</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-3">
        <h2></strong><%= link_to 'all', reviews_path, class: "linkZoom", style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'fashion', reviews_path(category: 'fashion'), class: "linkZoom", style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'nail', reviews_path(category: 'nail'), class: "linkZoom", style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'cosmetics', reviews_path(category: 'cosmetics'), class: "linkZoom", style: "color: black;" %></strong></h2>
      </div>

    </div>
  </div>
</header>