<header>
  <div class="container">
    <div class="row mt-4 mb-2">

      <div class="col-9">
        <ul class="list-group list-group-horizontal">
          <a class="navbar-brand" href="/homes/latest"><%= image_tag "scs2.png", :size => '50x20' %></a>
          <li class="list-group-item border-0">
            <%= link_to new_review_path do %>
              <i class="fa-regular fa-pen-to-square" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=  link_to user_path(current_user) do %>
              <i class="fa-regular fa-user" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=link_to favorites_user_path(current_user) do %>
              <i class="fa-regular fa-heart" style="color: black;"></i>
            <% end %>
          </li>
          <li class="list-group-item border-0">
            <%=  link_to cart_items_path do %>
            <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="col-3">
        <h2></strong><%= link_to 'all', reviews_path, style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'fashion', reviews_path(category: 'fashion'), style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'nail', reviews_path(category: 'nail'), style: "color: black;" %></strong></h2>
        <h2></strong><%= link_to 'cosmetics', reviews_path(category: 'cosmetics'), style: "color: black;" %></strong></h2>
        <!--<h4><%#= link_to 'about', about_path, style: "color: black;" %></h4>-->
      </div>

    </div>
  </div>
</header>