<header>
  <ul class="list-group list-group-horizontal">
  <a class="navbar-brand" href="/homes/latest"><%= image_tag "scs2.png", :size => '50x20' %></a>
  <li class="list-group-item">
    <%= link_to new_review_path do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  </li>
  <li class="list-group-item">
    <%=  link_to user_path(current_user) do %>
      <i class="fa-regular fa-user"></i>
    <% end %>
  </li>
  <!--<li>-->
  <!--  <%#=  link_to books_path do %>-->
  <!--    <i class="fa-thin fa-heart"></i>-->
  <!--  <%# end %>-->
  <!--</li>-->
  <li class="list-group-item">
    <%=  link_to cart_items_path do %>
    <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    <% end %>
  </li>
  <%= render 'layouts/search' %>
  </ul>
  <div><%= link_to 'all', reviews_path %></div>
  <div><%= link_to 'fashion', reviews_path(category: 'fashion') %></div>
  <div><%= link_to 'nail', reviews_path(category: 'nail') %></div>
  <div><%= link_to 'cosmetics', reviews_path(category: 'cosmetics') %></div>
  <div><%= link_to 'about', about_path %></div>
</header>
